.bg-black {
    -fx-background-color: black;
}

.bg-dark-grey {
    -fx-background-color: #2f2f2f;
}

.dialog-pane {
    -fx-background-color: #2b2b2b;
}

.label-gris {
    -fx-text-fill: #dddddd;
}

.bold {
    -fx-font-weight: bold;
}

.champ-texte {
    -fx-background-color: #757575;
    -fx-border-color: #2f2f2f;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-fill: #dddddd;
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.6), 8,0,0,0,5);
    -fx-padding: 0 0 0 18px;
}

.champ-tri, .combo-box, .menu-button {
    -fx-background-color: #757575;
    -fx-border-color: #008F16;
    -fx-border-color: linear-gradient(to left, #005c0a 0%, #008f16 30%, #008f16 70%, #005c0a 100%);
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-text-fill: #dddddd;
    -fx-effect: dropshadow(gaussian, rgb(0,0,0,0.6), 8,0,0,0,5);

}

.combo-box-popup .list-view {
    -fx-background-color: #191919;
    -fx-border-color: #4f4f4f;
    -fx-border-width: 2px;
}

.combo-box-popup .list-cell {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #dddddd;
    -fx-padding: 4px 6px;
}

#icone-next {
    -fx-shape: "M371.7 43.1C360.1 32 343 28.9 328.3 35.2S304 56 304 72l0 136.3-172.3-165.1C120.1 32 103 28.9 88.3 35.2S64 56 64 72l0 368c0 16 9.6 30.5 24.3 36.8s31.8 3.2 43.4-7.9L304 303.7 304 440c0 16 9.6 30.5 24.3 36.8s31.8 3.2 43.4-7.9l192-184c7.9-7.5 12.3-18 12.3-28.9s-4.5-21.3-12.3-28.9l-192-184z";
    -fx-background-color: #757575;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;

}

#icone-previous {
    -fx-shape: "M204.3 43.1C215.9 32 233 28.9 247.7 35.2S272 56 272 72l0 136.3 172.3-165.1C455.9 32 473 28.9 487.7 35.2S512 56 512 72l0 368c0 16-9.6 30.5-24.3 36.8s-31.8 3.2-43.4-7.9L272 303.7 272 440c0 16-9.6 30.5-24.3 36.8s-31.8 3.2-43.4-7.9l-192-184C4.5 277.3 0 266.9 0 256s4.5-21.3 12.3-28.9l192-184z";
    -fx-background-color: #757575;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;

}

#icone-play {
    -fx-shape: "M91.2 36.9c-12.4-6.8-27.4-6.5-39.6 .7S32 57.9 32 72l0 368c0 14.1 7.5 27.2 19.6 34.4s27.2 7.5 39.6 .7l336-184c12.8-7 20.8-20.5 20.8-35.1s-8-28.1-20.8-35.1l-336-184z";
    -fx-background-color: #757575;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.btn-lecteur {
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: transparent;
    -fx-background-radius: 9999px;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 9999px;
}

#btn-play:hover {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-border-color: rgba(255,255,255,0.2);
}

#icone-next:hover, #icone-previous:hover, #icone-page-precedente:hover, #icone-page-suivante:hover {
    -fx-background-color: #008F16;
}

.btn-lecteur:hover #icone-play {
    -fx-background-color: #008F16;

}

#icone-page-suivante {
    -fx-shape: "M247.1 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L179.2 256 41.9 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z";
    -fx-background-color: #757575;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;

}

#icone-page-precedente {
    -fx-shape: "M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z";
    -fx-background-color: #757575;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;

}

.img-border {
    -fx-border-color: #4f4f4f;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

#icone-graph {
    -fx-shape: "M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64L0 400c0 44.2 35.8 80 80 80l400 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 416c-8.8 0-16-7.2-16-16L64 64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7 262.6 153.4c-12.5-12.5-32.8-12.5-45.3 0l-96 96c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l73.4-73.4 57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z";
    -fx-background-color: #757575;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}

#icone-accueil {
    -fx-shape: "M277.8 8.6c-12.3-11.4-31.3-11.4-43.5 0l-224 208c-9.6 9-12.8 22.9-8 35.1S18.8 272 32 272l16 0 0 176c0 35.3 28.7 64 64 64l288 0c35.3 0 64-28.7 64-64l0-176 16 0c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8-35.1l-224-208zM240 320l32 0c26.5 0 48 21.5 48 48l0 96-128 0 0-96c0-26.5 21.5-48 48-48z";
    -fx-background-color: #757575;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}


.btn-round {
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 9999px;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 9999px;
}

.btn-round:hover #icone-accueil, .btn-round:hover #icone-graph {
    -fx-background-color: #008F16;
    -fx-border-color: rgba(255,255,255,0.2);
}

.separator .line {
    -fx-background-color: #008f16;
    -fx-border-color: #008f16;
}

.degrade-vert {
    -fx-border-color: linear-gradient(to top, #005c0a 0%, #008f16 15%, #008f16 85%, #005c0a 100%)
}

.slider .thumb {
    -fx-background-color: linear-gradient(to bottom, #008f16 55%, #005c0a 70%, #013208 100%);
    -fx-padding: 10px;
    -fx-border-color: #005c0a;
    -fx-border-width: 2px;
    -fx-border-radius: 9999px;
}



